@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply min-h-screen bg-gradient-to-t from-slate-900 to-blue-800;
  font-family: 'Rubik', sans-serif;
}

#root {
  @apply flex min-h-screen flex-col px-2 pb-4 pt-2 md:px-6 md:pt-6;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
